// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-gray-green {
    background-color: #729164;
}
.bg-gray-green-low {
    background-color: #c5ddb8;
}
.bg-gray-red {
    background-color: #bc5757;
}
.bg-gray-red-low {
    background-color: #ec9e9e;
}
.custom-shadow {
    box-shadow: inset 0 4px 8px rgb(123, 220, 115);
}
.dropdown-item:hover {
    background-color: #a5a5a5;
}
.highlighted {
    background-color: #cce5ff;
}
.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3em;
    min-height: 3em;
}
